extends layout

block content

    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
        header(class="mdl-layout__header")
            div(class="mdl-layout__header-row")
                span(class="mdl-layout-title") StandApp
        div(class="mdl-layout__drawer")
            span(class="mdl-layout-title") StandApp
            nav(class="mdl-navigation")
                a(class="mdl-navigation__link" href="") Issues
                a(class="mdl-navigation__link" href="/stats") Stats
        main(class="mdl-layout__content")
            div(class="page-content")
                each val, index in results
                    if val.daysAgo > 1
                        - var cls = 'mdl-card mdl-card-done mdl-shadow--4dp'
                    else
                        - var cls = 'mdl-card mdl-shadow--4dp'

                    div(class=cls)
                        div(class='mdl-card__title')
                        div(class='mdl-card__supporting-text')
                            h2(class='mdl-card__title-text')= val.key
                            p= val.summary
                            if val.daysAgo > 0
                                if val.daysAgo == 1
                                    span Yesterday
                                else
                                    span= val.timeAgo + ' ago'
                            else
                                span= val.timeAgo
                        div(class='mdl-card__actions mdl-card--border')
                            a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href=val.url) View details


                p Logged on as
                    b  #{username}
                p
                    a(href='/logout') Logout
