extends layout

block content

    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
        header(class="mdl-layout__header")
            div(class="mdl-layout__header-row")
                span(class="mdl-layout-title") Resolved issues
                div(class="mdl-layout-spacer")
                button(class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="talkback")
                    i(class="material-icons") mic

        div(class="mdl-layout__drawer")
            span(class="mdl-layout-title") StandApp
            nav(class="mdl-navigation")
                a(class="mdl-navigation__link" href="") Resolved issues
                a(class="mdl-navigation__link" href="/pull-requests") Pull requests
                a(class="mdl-navigation__link" href="/stats") Stats

        main(class="mdl-layout__content")
            div(class="page-content")
                each val, index in results
                    - var cls = 'mdl-card mdl-shadow--4dp'
                    if val.resolved
                        - cls += ' resolved-issue'

                    div(class=cls)
                        if val.resolved
                            span(class="talkback-content")= val.key + ", " + val.summary

                        div(class='mdl-card__title')
                            h2(class='mdl-card__title-text')= val.key
                        div(class='mdl-card__supporting-text')
                            p= val.summary
                            if val.daysAgo >= 0
                                if val.daysAgo == 1
                                    span(class="caption") Yesterday
                                else
                                    span(class="caption")= val.timeAgo + ' ago'
                            else
                                span= val.timeAgo
                        div(class='mdl-card__actions mdl-card--border')
                            a(class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href=val.url) View details
